#header
{
    margin-left: -60px; 
    background-color: black;
   height: auto;
  margin-bottom: -15px;

} 
body
{
    padding:0;
    margin: 0;
    
}
#header>a
{ 
   padding-left:300px ;
   color: white;
} 

.container{
    display:flex;
    justify-content: space-between;
    border:solid; 
margin-top: -5px;
background-color: burlywood;

}

.button{
    background-color: aqua;
    justify-content: center;
    border:solid black;
    margin-left: auto;
    width: 40%;
    height: 40px;
    font-size: 1rem;
    margin: 30px 10% 0 10%;
    border: none;
    border-radius: 5px;
    box-shadow: 20px 20px 50px #00d2c6, 
            -30px -30px 60px #00ffff;


}


.button:hover{
    background-color: blue;
    
}




h3{
    color:black;
}

.tweetbox {
    border: solid;
    border-color: white;
}


 .tweetbox {
    text-align: center;
    color: white;
}

ul.navbar-nav{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: aqua;

}



#coincontainer{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 25px;
    justify-content: space-between;
    margin-left: auto;
}
#title{
font-family: serif
}

.card{
    justify-content: space-between;
    margin-top: 10px;
    padding-left:20px;
    padding-right: 20px;
 
}

.search-container{
display: flex;
justify-content: right;
}









